{
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

:3000 {
	route {
		@foreignWebSocketOrigin `{path}.startsWith('/connection/') && {http.request.header.Origin} != '' && {http.request.header.Origin} != 'http://' + {http.request.hostport} && {http.request.header.Origin} != 'https://' + {http.request.hostport}`
		respond @foreignWebSocketOrigin 403

		handle /connection/* {
			reverse_proxy 127.0.0.1:8000
		}

		handle {
			reverse_proxy 127.0.0.1:3001
		}
	}
}
